## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Galle,LK,78.85,overcast clouds,6.04,80.22,Amangalla
1,20,Butaritari,KI,81.18,broken clouds,3.07,172.79,Isles Sunset Lodge
2,23,Gondanglegi,ID,76.01,overcast clouds,-7.75,112.01,Gg. Munasir Homestay
3,24,Isangel,VU,77.31,clear sky,-19.55,169.27,Volcano Sea View Tree House
4,33,Coahuayana,MX,86.00,scattered clouds,18.73,-103.68,Hotel Los Arcos

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Country</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[(vacation_df["City"]=="San Patricio")]
vacation_stop1_df = vacation_df.loc[(vacation_df["City"]=="Houma")]
vacation_stop2_df = vacation_df.loc[(vacation_df["City"]=="Destin")] 
vacation_stop3_df = vacation_df.loc[(vacation_df["City"]=="Avera")]
vacation_start_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
54,216,San Patricio,US,84.99,broken clouds,28.02,-97.52,"Motel 6 Sinton, TX"

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
san_patricio=vacation_start_df["Lat"].to_numpy()[0],vacation_start_df["Lng"].to_numpy()[0]
Houma=vacation_stop1_df["Lat"].to_numpy()[0],vacation_stop1_df["Lng"].to_numpy()[0]
Destin=vacation_stop2_df["Lat"].to_numpy()[0],vacation_stop2_df["Lng"].to_numpy()[0]
Avera=vacation_stop3_df["Lat"].to_numpy()[0],vacation_stop3_df["Lng"].to_numpy()[0]

In [14]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig=gmaps.figure()
san_patricio2HoumaviaDestinAvera=gmaps.directions_layer(
            san_patricio,san_patricio,waypoints=[Houma,Destin,Avera],
            travel_mode="DRIVING")
fig.add_layer(san_patricio2HoumaviaDestinAvera)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df,vacation_stop1_df,vacation_stop2_df,vacation_stop3_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,216,San Patricio,US,84.99,broken clouds,28.02,-97.52,"Motel 6 Sinton, TX"
1,211,Houma,US,79.00,clear sky,29.60,-90.72,Courtyard by Marriott Houma
2,369,Destin,US,80.60,clear sky,30.39,-86.50,Inn On Destin Harbor
3,355,Avera,US,80.01,scattered clouds,33.19,-82.53,NaN

In [28]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))